
@{
    ViewBag.Title = "WritingDetailAnonymous";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;500&display=swap" rel="stylesheet">

<link rel="stylesheet" href="~/Content/Writing_Style/writing-detail-style.css" />
<link rel="stylesheet" href="~/Content/Writing_Style/writing-detail-anonymous-style.css" />

<div class="head-session">
    <div class="profile">
        <a href="~/Users/Login"><img id="btn-profile" src="~/Images/user-32.png" /></a>
    </div>

    <div class="nav-bar">
        <a href="~/Users/Login">Login</a>
        <a href="~/Users/Create">Register</a>
    </div>
</div>


<div class="full-height">
    <div class="left-side-bar">
        <div id="arrow-up-icon">
            <a><img src="~/Images/up-chevron.png" /></a>
        </div>
        <div>
            <h1>1</h1>
        </div>
        <div id="arrow-down-icon">
            <a><img src="~/Images/down-chevron.png" /></a>
        </div>
    </div>

    <div class="content-viewer">
        <iframe id="pdf-viewer" src="@ViewBag.content" frameborder="1" scrolling="auto"></iframe>
    </div>

    <div class="rating-comment">
        <div class="rating-star">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="comment">
            <div class="comment-header">
                <h1>Comment</h1>
            </div>
            <div class="comment-content">
                <div class="writing-content">
                    <textarea id="ta-comment" rows="5" placeholder="comment show here" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
</div>



